<div class="container-fluid">
  <div class="row">
    <div class="col">

      <ng-container *ngIf="esInicio; else contenedor1">
        <span [innerHTML]="textoVisible"></span>
        <div>
          {{contenido}}
        </div>
        <div>
          <div class="col p-4">
            <button mat-raised-button (click)="funcionInutil()" color="primary">
              {{textoDeBoton}}
            </button>
          </div>
        </div>
        <!--Inicia pregunta 1-->
      </ng-container>
      <ng-template #contenedor1>
        <ng-container *ngIf="pregunta1; else contenedor2">
          <span [innerHTML]="textoVisible"></span>
          <div *ngFor="let opciones of arrOpcionesProgramacion">
            <mat-checkbox>
              {{opciones.t}}
            </mat-checkbox>
          </div>
          <button mat-raised-button (click)="funcionInutil()" color="primary">
            {{textoDeBoton}}
          </button>
        </ng-container>
        <!--inicia pregunta 2-->
        <ng-template #contenedor2>
          <ng-container *ngIf="pregunta2; else contenedor3">
            <span [innerHTML]="textoVisible"></span>              
            <mat-form-field>
              <div>
                <mat-select placeholder="Selecciona una respuesta">
                  <mat-option *ngFor="let selectOption of arrOpcionesProgramacion" value="selectOption.a">
                    {{selectOption.t}}
                  </mat-option>
                  <!-- <mat-option value={{selectOption.t1}}>{{selectOption.t1}}</mat-option>
                  <mat-option value={{selectOption.t2}}>{{selectOption.t2}}</mat-option>
                  <mat-option value={{selectOption.t3}}>{{selectOption.t3}}</mat-option>
                  <mat-option value={{selectOption.t4}}>{{selectOption.t4}}</mat-option>
                  <mat-option value={{selectOption.t5}}>{{selectOption.t5}}</mat-option>
                  <mat-option value={{selectOption.t6}}>{{selectOption.t6}}</mat-option>
                  <mat-option value={{selectOption.t7}}>{{selectOption.t7}}</mat-option>
                  <mat-option value={{selectOption.t8}}>{{selectOption.t8}}</mat-option>
                  <mat-option value={{selectOption.t9}}>{{selectOption.t9}}</mat-option>
                  <mat-option value={{selectOption.t10}}>{{selectOption.t10}}</mat-option>
                  <mat-option value={{selectOption.t11}}>{{selectOption.t11}}</mat-option>
                  <mat-option value={{selectOption.t12}}>{{selectOption.t12}}</mat-option>
                  <mat-option value={{selectOption.t13}}>{{selectOption.t13}}</mat-option>
                  <mat-option value={{selectOption.t14}}>{{selectOption.t14}}</mat-option> -->
                </mat-select>
              </div>
            </mat-form-field>

            <button mat-raised-button (click)="funcionInutil()" color=primary>
              {{textoDeBoton}}
            </button>
          </ng-container>
          <!--inicia pregunta 3-->
          <ng-template #contenedor3>
            <ng-container *ngIf="pregunta3">
              <div class="col-12">
                <span [innerHTML]="textoVisible"></span>
              </div>
              <div class="col p-3">
                <span [innerHTML]="textoVisible1"></span>
                <mat-form-field>
                  <div *ngFor="let selectOption1 of arrOpcionesProgramacion">
                    <mat-select placeholder="Selecciona una respuesta">
                      <mat-option value={{selectOption1.t1}}>{{selectOption1.t1}}</mat-option>
                      <mat-option value={{selectOption1.t2}}>{{selectOption1.t2}}</mat-option>
                      <mat-option value={{selectOption1.t3}}>{{selectOption1.t3}}</mat-option>
                      <mat-option value={{selectOption1.t4}}>{{selectOption1.t4}}</mat-option>
                      <mat-option value={{selectOption1.t5}}>{{selectOption1.t5}}</mat-option>
                      <mat-option value={{selectOption1.t6}}>{{selectOption1.t6}}</mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>
              </div>
              <div class="col p-3">
                <span [innerHTML]="textoVisible2"></span>
                <mat-form-field>
                  <div *ngFor="let selectOption1 of arrOpcionesProgramacion">
                    <mat-select placeholder="Selecciona una respuesta">
                      <mat-option value={{selectOption1.t1}}>{{selectOption1.t1}}</mat-option>
                      <mat-option value={{selectOption1.t2}}>{{selectOption1.t2}}</mat-option>
                      <mat-option value={{selectOption1.t3}}>{{selectOption1.t3}}</mat-option>
                      <mat-option value={{selectOption1.t4}}>{{selectOption1.t4}}</mat-option>
                      <mat-option value={{selectOption1.t5}}>{{selectOption1.t5}}</mat-option>
                      <mat-option value={{selectOption1.t6}}>{{selectOption1.t6}}</mat-option>
                    </mat-select>
                  </div>
                </mat-form-field>
              </div>
              <button mat-raised-button (click)="funcionInutil()" color=primary>
                {{textoDeBoton}}
              </button>
            </ng-container>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
